/* ==========================================================================
   Variables
   ========================================================================== */


// Fonts
$f__serif: "freight-text-pro",sans-serif;
$f__sans-serif: "freight-sans-pro",sans-serif;
$f__mono: "fira-mono",sans-serif;


// Colors
$c__default: #222;
$c__cream: #f1ede3;
$c__grey: #f3f4ef;
$c__green: #a1ca85;
$c__red: #FF443C;


// Units
$base-spacing-unit: 50px;
$half-spacing-unit: 25px;