/* ==========================================================================
   Buttons
   ========================================================================== */


.Button {
	position: relative;
	display: inline-block;
	padding: .8rem 1.125rem;
	background: #fff;
	border: none!important;
	font-family: $f__sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #111;

	&:hover {
		// background: blue;
		color: #fff!important;
	}

	&:after {
		content: '';
		position: absolute;
		top: 5px;
		right: 5px;
		bottom: -5px;
		left: -5px;
		background: blue;
		z-index: -1;
	}
}

.Button--full {
	display: block;
	text-align: center;
}

.Button--shadowRight {
	
	&:after {
		content: '';
		position: absolute;
		top: 5px;
		right: -5px;
		bottom: -5px;
		left: 5px;
		background: blue;
		z-index: -1;
	}	
}


.Subscribe {
	padding-top: .5rem;

	.Button {
		margin-bottom: 1rem;
	}
}